
body {
flex-wrap: wrap;
display: flex;
background: lightgray;
}
section {
  padding: 20px;
  width: 30%;
  margin-top: 3%;
  margin-left: 5%;
}
h1{
position: absolute;
left: 32%;
top: 30%;
}
form {
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2134c5;
}

input[type="radio"]{
  width:10%;
}

input[type="checkbox"]{
  width:8%;
}

fieldset{
  display: inline-flex;
}

.reklam > img{
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;

}
aside{
  width:15%;
  margin-top: 35px;
  margin-left: 160px;
}

.reklam img {
  cursor: pointer;
}

footer{
  text-align: center;
  border: 1px black solid;
  background-color:white;
  width: 100%;
}

header{
  width: 100%;
  background-color: #A9A9A9;
  border: 1px black solid;
  box-shadow: 4px 4px 4px grey;
}

.banner{
  width: 100%;
  font-size: 50px;
  font-family: cursive;
  font-weight: bold;
}

header img{
  width: 15%;
  vertical-align: middle;
}

header table{
  width:100%;
  height: 10%;
  background-color:white;
  flex-wrap: nowrap;
}

div iframe{
  margin-top: 15%;
  width: 400px; 
  height: 400px;
}

#menu{
  width: 50%;
  display: flex;
}

#menu > ul{
  display: inherit;
  list-style-type: none;
  width: 100%;
  height: 100%;
}
#menu > ul > li
{
  height: 100%;
  margin-right: 40px;
  font-size: 4rem;
  background-color: lavender;
  border: 1px black solid;
  box-shadow: 4px 4px 4px grey;
  position: relative;
}

#menu > ul > li:hover>li{
  cursor: pointer;
}

.dropdown{
  list-style-type: none;
  background-color: lavender;
  position: absolute;
  left: -0.1%;
  top: 100%;
  width: 209px;
  text-align: left;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  box-shadow: 4px 4px 4px grey;
  opacity: 0.8;
  display: none;
}
.dropdown > li{
  position: relative;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  left: -20%;
}

#menu>ul>li:hover>.dropdown{
  display: block;
}

#menu a{
  text-decoration: none;
  color: black;
}

table{
  background-color: white;
  border: 1px black solid;
  margin-left: 30px;
}

table > thead{
  border: 1px black solid;
}

table > thead th{
  background-color: rgb(181, 181, 181);
  border: 1px black solid;
}