*{
box-sizing: border-box;
}
main {display: flex;
flex-wrap: wrap;


}
body{
    background-color: lightgray;  
}
h1 {text-align: center;}
.annons{
    justify-content: space-around;
    width: 60%;
    height: 60%;
    margin-top: 2%; 
    margin-left: 10%;

}
.annons img {
    
    width: 49%;
    height: 50%;
}

.annons ul{
    
    margin-top:-1%;
    width: 98%;
    columns: 4;
    margin-right: 20%;
}

#sell p{
        
    border-bottom: solid;
    font-size:18px;
}
#sell{
    padding: 1%;
    margin-top: -2%;
    border-left: dashed;
    border-right: dashed;
    border-bottom: dashed;
    width: 98%;
}
.info{
    width: 98%;
    text-align: center;
    border-left: dashed;
    border-right: dashed;
    border-bottom: dashed;
    margin-top: -1%;
}

aside {
    width: 15%;
    height: 40%;
    margin-top: 35px;
    margin-left: 100px;
}
aside img{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

header{
    width: 100%;
    background-color: #A9A9A9;
    border: 1px black solid;
    box-shadow: 4px 4px 4px grey;
}

.banner{
    width: 100%;
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
}

header img{
    width: 15%;
    vertical-align: middle;
}

header td{
    border: 1px black solid;
    width: 25%;
    text-align:center;
}

td a{
    text-decoration: none;
    color: black;
}

td:hover{
    background:grey;
    border: 1px white solid;
    cursor:pointer;
    transition:0.125s;
}

header table{
    width:100%;
    height: 100%;
    background-color:white;
    flex-wrap: nowrap;
}
footer{
    text-align: center;
    border: 1px black solid;
    background-color: white;
    width: 100%;
    margin-top: 1%;
}

#menu{
    width: 50%;
    display: flex;
}

#menu > ul{
    display: inherit;
    list-style-type: none;
    width: 100%;
    height: 100%;
}
#menu > ul > li
{
    height: 100%;
    margin-right: 40px;
    font-size: 4rem;
    background-color: lavender;
    border: 1px black solid;
    box-shadow: 4px 4px 4px grey;
    position: relative;
}

#menu > ul > li:hover>li{
    cursor: pointer;
}

.dropdown{
    list-style-type: none;
    background-color: lavender;
    position: absolute;
    left: -0.1%;
    top: 100%;
    width: 250px;
    text-align: left;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    box-shadow: 4px 4px 4px grey;
    opacity: 0.8;
    display: none;
}
.dropdown > li{
    position: relative;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    left: -20%;
}

#menu>ul>li:hover>.dropdown{
    display: block;
}

#menu a{
    text-decoration: none;
    color: black;
}

table{
    background-color: white;
    border: 1px black solid;
    margin-left: 30px;
  }
  
  table > thead{
    border: 1px black solid;
  }
  
  table > thead th{
    background-color: rgb(181, 181, 181);
    border: 1px black solid;
  }