
body {
flex-wrap: wrap;
display: flex;
background: lightgray;
}
section {
  padding: 20px;
  width: 30%;
  margin-top: 3%;
  margin-left: 5%;
}
h1{
position: absolute;
left: 32%;
top: 30%;
}
form {
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2134c5;
}

.reklam > img{
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;

}
aside{
  width:15%;
  margin-top: 35px;
  cursor:pointer;
  margin-left: 160px;

}

footer{
  text-align: center;
  border: 1px black solid;
  background-color:white;
  width: 100%;
}

header{
  width: 100%;
  background-color: #A9A9A9;
  border: 1px black solid;
}

.banner{
  width: 100%;
  font-size: 50px;
  font-family: cursive;
  font-weight: bold;
}

header img{
  width: 15%;
  vertical-align: middle;
}

header td{
  border: 1px black solid;
  width: 25%;
  height: 5%;
  text-align:center;
}

td a{
  text-decoration: none;
  color: black;
}

td:hover{
  background:grey;
  border: 1px white solid;
  cursor:pointer;
  transition:0.125s;
}

header table{
  width:100%;
  height: 10%;
  background-color:white;
  flex-wrap: nowrap;
}

div iframe{
  margin-top: 15%;
  width: 400px; 
  height: 400px;
}
